config BRICKED_HOTPLUG
	   bool "Enable kernel based mpdecision"
	   depends on MSM_RUN_QUEUE_STATS
	   default n
	   help
		 This enables kernel based multi core control.

config ALUCARD_HOTPLUG
	bool "Enable alucard-hotplug cpu hotplug driver"
	default n
	help
	Generic Alucard-hotplug cpu hotplug driver for ARM SOCs

config INTELLI_PLUG
	    bool "Enable intelli-plug cpu hotplug driver"
	    default y
	    help
	         Generic Intelli-plug cpu hotplug driver for ARM SOCs
